<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Serve static files from public folder directly -->
        <rule name="StaticPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Next.js static files -->
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <conditions>
            <add input="{DOCUMENT_ROOT}\.next\static\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>
        <!-- All other requests go to Node.js -->
        <rule name="DynamicContent">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>

